# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Utilisateur\Desktop\ALGO_OCR_PROG\2_PROJET_OCR\projet_s3_ocr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
